# fly.toml app configuration file generated for gs-bridge-bb on 2025-08-23T17:14:17+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'your-fly-app'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "off"
  min_machines_running = 1
  processes = ["app"]
  [http_service.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25

[[vm]]
  size = 'shared-cpu-1x'
